#menu-mob-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20%;
  box-sizing: border-box;
  background: rgb(255,255,255);
  background: linear-gradient(190deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
}

#menu-mob-wrapper.open {
  display: flex;
}

.menu-mob-subwrapper{

  width: 80%;
  display: flex;
  flex-direction: column;
}

.menu-mob-nav{

  width: 100%;
  text-align: center;
}

.menu-mob-nav>p{
  color: var(--gray);
  font-family: "MontseSemi";
}

/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 

}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 
  
  
}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 


 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 

  .menu-mob-nav{
    margin-bottom: 12px;
  }
  
  .menu-mob-nav>p{
    font-size: calc(var(--base-font-size) + 3.5vw);
  }
 }
