.nosotros-wrapper{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.nosotros{
    width: 100%;
}

.nosotros-title{
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}
.nosotros-title>p{
    font-family: "MontseBold";
    color: var(--mainAccent);
    font-size: 2vw;
}

.nosotros-txt{
    width: 100%;
    text-align: center;
}

.nosotros-txt>p{
    color: #242424;
    font-family: "MontseSemi";
    font-size: 1.2vw;
    margin-bottom: 8px;
}

