.porque-wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
}

.porque-title{
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.porque-title>p{
    font-family: "MontseBold";
    color: var(--mainAccent);
    font-size: 1.4vw;
}

.values-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.values{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 24px;
}

.valueIcon{
    width: 5%;
    aspect-ratio: 1/1;
    border: solid 6px #a5a5a5;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valueIcon>div{
    width: 18%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--mainAccent);
    position: absolute;
    visibility: hidden;
    bottom: -45%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.valueIcon>svg{
    width: 80%;
    fill: #a5a5a5;
    aspect-ratio: 1/1;
    position: absolute;
}

.selected{
    border: solid 10px var(--mainAccent);
}

.selected>div{
    visibility: visible;
}

.selected>svg{
    fill: var(--mainAccent);
}

.values-txt{
    width: 70%;
    text-align: center;
}

.values-txt>p{
    
    color: var(--subAccent);
    font-size: .9vw;
    font-family: "MontseSemi";
}

.disclaimer{
    width: auto;
    text-align: center;
    position: relative;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}


.disclaimer>p{
    width: 50%;
    background-color: var(--subAccent);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1vw;
    font-family: "MontseBold";
}

.disclaimer>p>div{
    width: 4%;
    aspect-ratio: 1/1;
    transform: rotateZ(45deg);
    position: absolute;
    top: -5%;
    left: 0%;
    right: 0%;
    margin: auto;
    background-color: var(--subAccent);
    border-radius: 8px;
    z-index: -1;
}
/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 
    

}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 

    .porque-wrapper{
        width: 90%;
    }


    .porque-title>p{
        font-size: 2vw;
    }

    .values-txt>p {
        font-size: 1.8vw;
    }

    .disclaimer>p{
        width: 90%;
        font-size: 1.8vw;
    }

    .disclaimer>p>div{
        top: 6%;
    }


}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 

    .porque-wrapper{
        width: 90%;
    }

    .porque-title>p{
        font-size: 2.2vw;
    }

    .values-txt>p {
        font-size: 2.4vw;
    }

    .valueIcon{
        width: 10%;
        border: solid 2px #a5a5a5;
    }

    .selected{
        border: solid 4px var(--mainAccent);
    }

    .disclaimer>p{
        width: 95%;
        padding: 12px;
        font-size: 2.5vw;
    }

    .disclaimer>p>div{
        border-radius: 4px;
        top: 6%;
    }
 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 

    .porque-wrapper{
        width: 90%;
    }

    .porque-title>p{
        font-size: 4vw;
    }

    .valueIcon{
        width: 10%;
        border: solid 2px #a5a5a5;
    }

    .selected{
        border: solid 4px var(--mainAccent);
    }

    .values-txt>p {
        font-size: 3vw;
    }

    .disclaimer>p{
        width: 95%;
        padding: 12px;
        font-size: 3.8vw;
    }

    .disclaimer>p>div{
        border-radius: 2px;
        top: 6%;
    }

 }
