a{
    text-decoration: none;
    color: inherit;
}
.slide-cont{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 2%;
    box-sizing: border-box;
}

.slide-callback{
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.icon{
    width: 16%;
    aspect-ratio: 1/1;
    margin: 12px;
}

.icon>img{
    width: 100%;
}

.message{
    width: 100%;
    height: auto;
}

.message>img{
    width: 100%;
}

.slide-img{
    width: 40%;
}

.slide-img>img{
    width: 100%;
}

.wasa{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #48be51;
    cursor: pointer;
}

.wasa>p{
    font-size: 1vw;
    line-height: 0;
    text-decoration: none;
}

.wasa>svg{
    width: 10%;
}

.wasa:hover{
    background-color: #2d8a35;
}

/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 
    

    
}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 

    .slide-callback{
        width: 25%;
        margin-top: 8%;
        margin-bottom: 4%;
    }

    .slide-img {
        width: 50%;
    }

    .slide-cont {
       flex-direction: column;
       align-items: center;
       justify-content: flex-end;
    }

    .wasa>p {
        font-size: 1.5vw;
    }

}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 


    .slide-callback{
        width: 30%;
        margin-top: 10%;
        margin-bottom: 4%;
    }

    .slide-img {
        width: 80%;
    }

    .wasa {
        padding: 8px 0px;
    }

    .wasa>svg {
        width: 12%;
    }

    .wasa>p{
        font-size: 2vw;
    }
 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 


    .slide-cont {
        align-items: center;
    }


    .slide-callback{
        width: 50%;
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .wasa {
        padding: 12px 0px;
    }

    .wasa>svg {
        width: 12%;
    }

    .wasa>p{
        font-size: 3vw;
    }

    .slide-img {
        width: 100%;
        margin-bottom: 10%;
    }

 }