#hero-wrapper{
    width: 100%;
    height: 90vh;
    background-color: white;
    overflow: hidden;
    position: relative;
}

#hero-subwrapper{
    width: 200%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.5s ease;
    transform: translateX(var(--slide-translate, 0%));
}

#bullet-wrapper{
    width: 5%;
    position: absolute;
    bottom: .5%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 
    
    #hero-wrapper {
        height: 75vh;
    }

}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 


    #bullet-wrapper{
        width: 10%;
    }
}


@media (min-width: 769px) and (orientation: landscape){
    #hero-wrapper{
        height: 120vh;
    }
    .icon{
        display: none;
    }
}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 

    
    #hero-wrapper {
        height: 90vh;
    }


    #bullet-wrapper{
        width: 10%;
    }
 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 

    #hero-wrapper {
        height: 50%;
    }

    #bullet-wrapper{
        width: 20%;
    }

 }
