.bullet{
    width: 12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid var(--mainAccent);
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-bullet{
    width: 80%;
    aspect-ratio: 1/1;
    background-color: var(--mainAccent);
    border-radius: 50%;
    visibility: hidden;
    
}

.bullet.active .mini-bullet {
    visibility: visible;
  }

/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 
    

}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 


    .bullet{
        width: 10%;
    }
}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 


 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 

    .bullet{
        width: 10%;
    }

 }