.asesoria-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 24px;
}

.asesoria-subwrapper{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}

.title, .subtitle{
    width: 100%;
    text-align: center;
}

.title>p{
    font-family: "MontseBold";
    color: var(--mainAccent);
    font-size: 1.4vw;
    text-transform: uppercase;
}

.subtitle>p{
    font-family: "MontseSemi";
    color: var(--subAccent);
    font-size: 1.2vw;
}

.inputCont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.inputCont>input{
    width: 100%;
    margin-bottom: 12px;
    border: none;
    background-color: rgb(225, 225, 225);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    color: rgb(107, 107, 107);
    font-size: .8vw;
    font-family: "MontseBold";
    text-align: center;
}

.inputCont>input::placeholder{
    color: rgb(159, 159, 159);
    opacity: 1;
}

.inputCont>input:focus{
    outline: none;
}

.btnCont{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--subAccent);
    cursor: pointer;
    border-radius: 8px;
}

.btnCont>p{
    font-size: 1vw;
    font-family: "MontseBold";
    margin: 10px;
}

.btnCont:hover{
    background-color: #4d5ea3;
}


/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 
    

}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 

    .asesoria-subwrapper{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
    }

    .title>p {
        font-size: 2vw;
    }

    .subtitle>p {
        font-size: 2vw;
        margin: 8px;
    }

    .btnCont>p {
        font-size: 1.6vw;
    }
}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 

    .asesoria-subwrapper {
        width: 60%;
    }

    .title>p {
        font-size: 2.2vw;
    }

    .subtitle>p {
        font-size: 2vw;
        margin: 0px;
    }

    .inputCont>input {
        font-size: 1.5vw;
    }

    .btnCont>p {
        font-size: 1.8vw;
    }

 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 

    .asesoria-subwrapper {
        width: 90%;
    }

    .title>p {
        font-size: 4vw;
    }

    .subtitle>p {
        font-size: 3.5vw;
        margin: 0;
    }

    .inputCont>input {
        font-size: 2.4vw;
    }

    .btnCont>p {
        font-size: 3.2vw;
        margin: 8px;
    }

 }

