.tramites-wrapper{
    width: 100%;
    height: auto;
    padding: 12px;
    box-sizing: border-box;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tramites-list{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tramites-list>div{
    cursor: pointer;
    margin: 0px 12px
}

.tramites-list>div>p{
    color: #A8A8A8;
}

.tramites-list>.selected-tramite>p{
    color: #7286D3;
    text-decoration: underline 2px solid #7286D3;
}

.tramites-cont{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #7286D3;
    padding: 24px;
    box-sizing: border-box;
}

.tramites-icon{
    width: 14%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tramites-icon>svg{
    width: 50%;
}

.tramites-icon>p{
    text-align: center;
    font-family: "MontseBold";
    font-size: .8em;
    margin: 0px;
}

.subtramite{
    width: 18%;
    aspect-ratio: 1/1;
    background-color: #1f2332;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 12px;
    cursor: pointer;
}

.subtramite:hover{
    background-color: #5262a2;
}

.subtramite>p{
    color: white;
    font-family: "MontseBold";
    font-size: 1.2vw;
    text-align: center;
}

.tramites-detail{
    width: 80%;
    background-color: #7286D3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.tramite-header{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #485aa4;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}

.tramite-header-primary{
    width: 6%;
    padding-top: 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2%;
}

.tramite-icon{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tramite-icon>p{
    font-family: "MontseBold";
    font-size: .8em;
}

.tramite-header-secondary{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2%;
    box-sizing: border-box;
}

.tramite-titulo>h2{
    font-size: 1.2em;
}

.tramite-lists-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    box-sizing: border-box;
}

.tramite-list{
    width: 45%;
    background-color: #485aa4;
    border-radius: 20px;
    padding: 4%;
    box-sizing: border-box;
}

.tramite-disclaimer{
    width: 80%;
    background-color: #485aa4;
    display: flex;
    border-radius: 20px;
}

.tramite-disclaimer>p{
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
}

/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 
    

}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 


}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 


 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 


 }
