#nav-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    padding: 1.5%;
    box-sizing: border-box;
    z-index: 3;
    background: rgb(255,255,255);
    background: linear-gradient(190deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
    /* backdrop-filter: blur(6px); */
  }

  .isologo{
    width: 9%;
    cursor: pointer;
  }

  .isologo>svg{
    width: 100%;
  }

  .mobile-nav{
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .mobile-nav>a{
    width: 50%;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.wasa-mob>svg{
  width: 100%;
}

.burger{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.burger>div{
    width: 100%;
    height: 4px;
    background-color: var(--mainAccent);
    margin-bottom: 4px;
    transition: .5s ease-in-out;
}

.burger>div:nth-last-child(1){
    margin-bottom: 0px;
}
.burger-open>div{
  position: absolute;
}

.burger-open>div:nth-child(1){
  transform: rotate(45deg);
  left: 0%;
}

.burger-open>div:nth-child(2){
  display: none;
}

.burger-open>div:nth-child(3){
  transform: rotate(-45deg);
  right: 0%;
}

.navBar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navBar div{
  margin:  0px 32px;
}

.navBar p{
  color: var(--gray);
  font-family: "MontseSemi";
  cursor: pointer;
}

.navBar p:hover{
  color: var(--mainAccent);
}

.navBar a{
  width: 34px;
  aspect-ratio: 1/1;
}

/* Extra Large Devices (Large Desktops): */

@media (min-width: 1201px) { 

    
}

/* Large Devices (Desktops): */

@media (min-width: 993px) and (max-width: 1200px) { 
    
  .isologo{
    width: 9%;
  }

}

/* Medium Devices (Laptops): */

@media (min-width: 769px) and (max-width: 992px) { 
  
  .isologo{
    width: 9%;
  }
  .navBar p{
    font-size: 1.4vw;
  }
  
}

/* Small Devices (Tablets): */

@media (min-width: 577px) and (max-width: 768px) { 


  .isologo{
    width: 12%;
  }

  .mobile-nav{
    width: 10%;
    }


 }


 /* Extra Small Devices (Phones): */

@media (max-width: 576px) { 


  .isologo{
    width: 24%;
  }

  .mobile-nav{
    width: 14%;
    }

 }
